﻿@model LeaveSample.Entities.Leave

@{
    ViewBag.Title = "Apply Leave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Apply Leave</title>
  <script>
    $(function() {
      attachPicker('#StartDate');
      attachPicker('#EndDate');
      attachSpinner('#Duration');

      $('.cancel-leave').on('click', function () {

        var tr = $(this).closest('tr');

        var leave =
        {
          LeaveID: tr.find('#LeaveID').val(),
          CorrelationID: tr.find('#CorrelationID').val(),
          StartDate: tr.find('.StartDate').text(),
          EndDate: tr.find('.EndDate').text(),
          Duration: tr.find('.Duration').text()
        };

        $.ajax({
          url: '/Home/Cancel/',
          data: JSON.stringify(leave),
          type: 'POST',
          context: tr,
          contentType: "application/json",
          success: function (data) {
            tr.find('.Status').text(data.Status);
            tr.find('.cancel-leave').hide();
          }
        });
      });
    });

    function attachPicker(controlId) {
      $(controlId).datepicker(
      {
        defaultDate: null,
        minDate: -7,
        maxDate: '6M',
        beforeShowDay: $.datepicker.noWeekends,
        onSelect: showDays
      });
    }

    function attachSpinner(controlId) {
      $(controlId).spinner({ min: 1, max: 30 });
    }

    function showDays(date, sender) {
      var start = $('#StartDate').datepicker('getDate');
      var end = $('#EndDate').datepicker('getDate');

      if (!start || !end)
        return;
            
      var days = (new Date(end - start) / 1000 / 60 / 60 / 24) + 1;

      if (days < 0) days = 0;

      $('#Duration').val(days);
    }
  </script>
</head>

<body>
  @using (Html.BeginForm())
  { 
    <fieldset>
      <legend class="header">New Leave Details</legend>
      @Html.ValidationSummary()
      <table>
          <tr>
              <td style="width:75px"><strong>Employee</strong></td>
              <td><strong>:</strong></td>
              <td>
                  @Html.ValueFor(x => x.Employee)
                  @Html.HiddenFor(x => x.Employee)
              </td>
              <td style="width: 200px"></td>
              <td><strong>Date</strong></td>
              <td><strong>:</strong></td>
              <td>
                  @Html.TextBoxFor(x => x.StartDate, "{0:d}", new { @Class = "textBox" })
                  to
                  @Html.TextBoxFor(x => x.EndDate, "{0:d}", new { @Class = "textBox" })
              </td>
          </tr>
          <tr>
              <td><strong>Category</strong></td>
              <td><strong>:</strong></td>
              <td>
                  @for (int i = 0; i < ViewBag.Categories.Length; i++)
                  {
                      string value = ViewBag.Categories[i];
                      @Html.RadioButtonFor(x => x.Category, value, new { id = "Category" + i.ToString() });
                      @Html.Label(value, new { @for = "Category" + i.ToString() });
                      @Html.Raw("&nbsp;&nbsp;");
                  }
              </td>
              <td></td>
              <td><strong>Duration</strong></td>
              <td><strong>:</strong></td>
              <td>
                  @Html.TextBoxFor(x => x.Duration, new { @Class = "spinner" })
              </td>
          </tr>
          <tr>
              <td class="topAlignedLabel"><strong>Description</strong></td>
              <td class="topAlignedLabel"><strong>:</strong></td>
              <td colspan="5">
                  @Html.TextAreaFor(x => x.Description, new { @Class = "multilineTextBox" })
              </td>
          </tr>
          <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td colspan="5">
                  <a href="javascript:document.forms[0].submit();" class="apply-leave">Apply</a>
              </td>
          </tr>
      </table>
    </fieldset>
    }
  @{Html.RenderAction("Leaves");}
</body>
</html>
